@use "mixins";

.split-page {
  h1 {
    margin: 0;
  }

  .split-container {
    @include mixins.flex-box($align-items: stretch);
    padding: 0;

    & > div:last-of-type {
      flex: 1 1 20em;
      padding: 20px 50px;
    }

    .icon-info-container {
      @include mixins.flex-box();
      margin: 50px 0;

      .icon-elem {
        @include mixins.flex-box($flex-direction: column);
        margin: 0 25px;

        svg {
          background-color: var(--lightColor);
          border-radius: 50%;
          width: 100px;
          height: 100px;
          padding: 20px;
          fill: #fff;
          margin: 25px 0;
        }
      }
    }

    p {
      margin-bottom: 15px;
    }

    h4 {
      color: var(--darkColor);
    }
  }
}

.team-icons-container {
  width: 100%;
  @include mixins.flex-box();
  margin: 20px 0;

  .icon-elem {
    margin: 15px;
    flex: 0 0 7em;
    text-align: center;
    color: var(--darkColor);

    .icon-img-wrapper {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid var(--lightColor);
      @include mixins.flex-box($flex-direction: column);
      margin-bottom: 15px;

      img {
        min-width: 100%;
        min-height: 100%;
        max-width: unset;
      }
    }
  }
}

#auskunft-page .split-container > div:first-of-type {
  flex: 1 1 15em;
  min-height: 350px;
  background: url('../assets/mood-1.jpg') no-repeat center;
  background-size: cover;
}

#auswahl-page .split-container > div:first-of-type {
  flex: 1 1 15em;
  min-height: 350px;
  background: url('../assets/mood-9.jpg') no-repeat center;
  background-size: cover;
}

#symptome-page .split-container > div:first-of-type {
  flex: 1 1 15em;
  min-height: 350px;
  background: url('../assets/mood-7.jpg') no-repeat center;
  background-size: cover;
}

#infektion-page .split-container > div:first-of-type {
  flex: 1 1 15em;
  min-height: 350px;
  background: url('../assets/mood-3.jpg') no-repeat center;
  background-size: cover;
}

#hygiene-page .split-container > div:first-of-type {
  flex: 1 1 15em;
  min-height: 350px;
  background: url('../assets/mood-6.jpg') no-repeat center;
  background-size: cover;
}

#team-page .split-container > div:first-of-type {
  flex: 1 1 15em;
  min-height: 350px;
  background: url('../assets/mood-5.jpg') no-repeat center;
  background-size: cover;
}

#standorte-page {
  .flex-elem .img-wrapper {
    position: relative;
  }
  .flex-elem .img-wrapper::after {
    content: "Lage anzeigen";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--darkColor);
    color: var(--accentColor);
    opacity: 0;
    transition: opacity .2s ease-out;
    @include mixins.flex-box();
    font-size: 1.2rem;
  }
  .flex-elem .img-wrapper:hover::after {
    opacity: .9;
  }
}